<div class="card-container">
    <div class="container" style="padding-bottom: 30px;">
        <mat-form-field class="custom-form-field">
            <input matInput type="number" placeholder="Enter countdown time" [(ngModel)]="countdownTime" />
        </mat-form-field>

        <h1>{{ currentTime }}</h1>

        <div class="progress-container" style="padding-bottom: 50px;">
            <mat-progress-bar class="slide" mode="determinate" [value]="progress"></mat-progress-bar>

            <div class="progress-label" style="color: green;font-size: 24px;padding-top: 20px;align-items: center;"
                [ngClass]="{'slide': slideState !== percentage}">
                {{ percentage }}%
            </div>
        </div>
        <button mat-raised-button color="primary" class="btn btn-primary" (click)="startCountdown()">Start
            Countdown</button>
    </div>
</div>